$save-job-button-size: 35px;
$job-post-side-margin: 2px;

/* Container */

.postboard_container {
	height: 80%;
	min-height: 300px;
	border-radius: 10px;
	margin-bottom: 10px;
	@include transparent-background(255, 255, 255, 0.85);
}

.postboard_container > .row {
	margin-top: 20px;
	margin-bottom: 10px;
}

/* GRID */

.job-grid > ul {

	margin-bottom: 20px;

	> div > li {
		list-style-type: none;
		border-radius: 5px;
		.job-post-container {
			background-color: #fff;
			margin-top: 10px;
			// border: 1px solid #fff;
			border-radius: 3px;
			@include box-shadow(2px, 2px, 5px, 1px, #aaa);
			@include transition(0.1s, ease-in);

			&:hover {
				@include transition(0.1s, ease-in);
				@include box-shadow(2px, 2px, 5px, 2px, #555);
			}

			.job-title {
				text-align: center;
				font-weight: bold;
				font-size: 1.5em;
				&.i {
					background-color: green;
				}
				&.f {
					background-color: red;
				}
			}

			.company-title {
				text-align: center;
				font-style: italic;
			}

			.description-short {
				margin: $job-post-side-margin 5px;
			}

			.type-of-job {
				margin-left: $job-post-side-margin;
				display: inline-block;
				ul {
					padding-left: 3px;
					list-style-type: none;
					margin-bottom: 5px;
					li {
						padding: 2px;
						margin-right: 4px;
						border-radius: 3px;
						display: inline-block;
						background-color: #666;
						opacity: 0.75;
						color: white;
						font-size: 0.65em;
					}
				}
			}

			.save-job-button {
				display: inline-block;
				margin-bottom: 5px;
			 	margin-right: $job-post-side-margin*2;
			 	text-align: right;
			}

			.clicked {
				background-color: $bu-primary;

				&:hover {
					background-color: darken($bu-primary, 5%);
				}

				&:active {
					background-color: darken($bu-primary, 5%);
				}
			}
		}
	}
}

.flex-box-model {
    /* flexbox setup */
    display: -webkit-flex;
    -webkit-flex-direction: row;

    display: flex;
    flex-direction: row;

    > div {
		-webkit-flex: 1 1 auto;
	    flex: 1 1 auto;
	}
}


/* SEARCH */

.left-sidebar > ul {
	list-style-type: none;
	li {
		font-size: 2em;
		text-align: center;
	}
	.search-bar {
		margin-bottom: 10px;
	}
}





