/* Container */

.postboard_container {
	height: 80%;
	min-height: 300px;
	border-radius: 10px;
	margin-bottom: 10px;
	@include transparent-background(255, 255, 255, 0.85);
}

.postboard_container > .row {
	margin-top: 20px;
	margin-bottom: 10px;
}

/* GRID */

ul.job-grid {

	margin-bottom: 20px;

	> div > li {
		list-style-type: none;
		border-radius: 5px;
		.job-post-container {
			background-color: #fff;
			margin-top: 10px;
			border: 1px solid #555;
			border-radius: 3px;
			@include box-shadow(2px, 2px, 5px, 1px, #aaa);
			@include transition(0.1s, ease-in);

			&:hover {
				@include transition(0.1s, ease-in);
				@include box-shadow(2px, 2px, 5px, 2px, #555);
			}

			.job-title {
				text-align: center;
				font-weight: bold;
				font-size: 1.5em;
				&.i {
					background-color: green;
				}
				&.f {
					background-color: red;
				}
			}

			.company-title {
				text-align: center;
				font-style: italic;
			}

			.description-short {
				margin: 2px 5px;
			}

			.type-of-job {
				margin-left: 2px;
				ul {
					padding-left: 3px;
					list-style-type: none;
					margin-bottom: 5px;
					li {
						padding: 2px;
						margin-right: 4px;
						border-radius: 3px;
						display: inline-block;
						background-color: #666;
						opacity: 0.75;
						color: white;
						font-size: 0.65em;
					}
				}
			}
		}
	}
}






