<div>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img class="navbar-logo" src="images/logo/logo-bu.png">Job Board</img></a>
            <button type="button" class="btn btn-default pull-right hidden" id="log-out-button" {{action "log_out"}}>
                Log Out
            </button>
        </div>
       {{!--  <div class="nav navbar-nav">
            
        </div> --}}
    </nav>
    <div class="container" id="main">
        <div class="row">
            <div>
                <div class="col-md-12">
                    {{outlet}}
                </div>
            </div>
        </div>
    </div>
</div>
