<div>
	<div class="container postboard_container">
		<div class="row">
			<div class="col-md-3">
				<ul>
					<li>Hi</li>
					<li>Hi</li>
					<li>Hi</li>
					<li>Hi</li>
					<li>Hi</li>
					<li>Hi</li>
					<li>Hi</li>
					<li>Hi</li>
					<li>Hi</li>
					<li>Hi</li>
				</ul>
			</div>
			<div class="col-md-9">
				<ul class="job-grid">
					{{#if job_postings.length}}
						{{#each job in job_postings}}
							{{job-posting-postboard job}}
						{{/each}}
					{{/if}}
				</ul>
			</div>
		</div>
	</div>
</idv>