<div>
	<div class="container main_container">
		<div class="row">
			<div class="col-md-3">
				<ul>
					<li>Hi</li>
					<li>Hi</li>
					<li>Hi</li>
					<li>Hi</li>
					<li>Hi</li>
					<li>Hi</li>
					<li>Hi</li>
					<li>Hi</li>
					<li>Hi</li>
					<li>Hi</li>
				</ul>
			</div>
			<div class="col-md-9">
				<ul>
					<li>{{job_posting.1.job_title}}</li>
					{{#if job_postings.length}}
						{{#each job_postings}}
							<li>{{job_title}}jklj</li>
						{{/each}}
					{{/if}}
					<li>Hi</li>
					<li>Hi</li>
					<li>Hi</li>
					<li>Hi</li>
					<li>Hi</li>
					<li>Hi</li>
					<li>Hi</li>
					<li>Hi</li>
					<li>Hi</li>
				</ul>
			</div>
		</div>
	</div>
</idv>